#header .title {
    font-weight: 700;
}

#header .subtitle {
    font-size: 80%;
}

header a:link, header a:visited, header a:active {
    color: white;
    text-decoration: none;
    transition: color ease-in-out 350ms;
}

header a:hover {
    color: #d0d0ff;
    text-decoration: underline;
    transition: color ease-in-out 350ms;
}
