/* #header {
    background-color: #1A2634;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    align-items: center;
    z-index: 10000;
    flex: 0 0 56px;
}

#centerhead {
    grid-column: first / last;
    grid-row: first / last;
    align-self: center;
}


#header .title {
    font-weight: 700;
}

#header .subtitle {
    font-size: 80%;
}

header a:link, header a:visited, header a:active {
    color: white;
    text-decoration: none;
    transition: color easi-in-out 350ms;
}

header a:hover {
    color: #d0d0ff;
    text-decoration: underline;
    transition: color ease-in-out 350ms;
} */

#header {
    display: grid;
    grid-template-columns: [first] auto [last];
    grid-template-rows: [first] auto [last];
    text-align: center;
    background-color: #3f2000;
    color: white;
}

#centerhead {
    grid-column: first / last;
    grid-row: first / last;
    align-self: center;
}

#crumbs {
    grid-column: first / last;
    grid-row: first / last;
    padding-inline-start: .5em;
    text-align: start;
    align-self: center;
    z-index: 2;
}

#header .title {
    font-weight: 700;
}

#header .subtitle {
    font-size: 80%;
}

#crumbs ul {
    padding: 0;
    margin: 0;
    line-height: 1;
}

#crumbs li {
    padding: 0;
    margin: 0;
    font-size: 11pt;
    font-weight: 600;
    list-style: none;
    display: inline-block;
}

header a:link, header a:visited, header a:active {
    color: white;
    text-decoration: none;
    transition: color ease-in-out 350ms;
}

header a:hover {
    color: #d0d0ff;
    text-decoration: underline;
    transition: color ease-in-out 350ms;
}

#crumbs li:not(:first-child)::before {
    content: ">";
    padding: .3em;
}
