body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
#app {
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-rows: 3.5em auto;
    grid-template-areas:
        'header header'
        'nav-panel map';
    height: 100vh;
}

#header {
    grid-area: header;
}

#nav-panel {
    grid-area: nav-panel;
    position: relative;
    background-color: antiquewhite;
}

#nav-contents1,
#nav-content2 {
    position: absolute;
}

#map {
    grid-area: map;
}
