#map {
    height: 100%;
    width: 100%;
}

#mapNode {
    height: 100%;
    width: 100%;
}

.maplabel {
    font-size: 12pt;
    font-weight: 500;
    color: #201000;
    text-shadow: -1px -1px 0 #fff8f0, 1px -1px 0 #fff8f0, -1px 1px 0 #fff8f0,
    1px 1px 0 #fff8f0;
    max-width: 15rem;
}