:root {
    --duration: 350ms;
}

.nav-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.nav-content > div {
    height: 100%;
}

.scripturewrapper {
    height: 100%;
}

.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity var(--duration) ease-in-out;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity var(--duration) ease-in-out;
}